@charset "UTF-8";

body {
	font-family: sans-serif; 
	font-size: 17px;
}
header {
	width: 100%;
}
#topbanner {
	position: relative ; 
	margin: 10% auto 0 ;
	width: 96%;
}
#banner {
	width: 100%;
}
.illust{
	position: absolute; 
}
#illust1{
	width: 35%;
	left: -5px; top: -80px; transform: rotate(10deg) 
}
#illust2{
	width: 22%;
	left: 0px; bottom: 0px; transform: rotate(38deg) 
}
#illust3{
	width: 25%;
	right: 0px; top: -20%; transform: rotate(10deg)
}
#illust4{
	width: 30%;
	right: 5px; bottom: 5%;
}
#artday {
	position: relative ; 
	width: 96%;
	font-size: 58px; 
	line-height: 1.25;
	font-weight: 900; 
	color: rgba(134,113,97,1.00); 
	text-align: center; 
	margin: 0 auto 0; 
}
#nenn {
	padding: 0px 20px; 
	background-color: rgba(214,174,142,1.00); 
	border-radius: 30vh; 
	color: #fff; 
	font-size: 0.6em; 
	vertical-align: middle; 
}
.soro{
	vertical-align: middle; 
}
h1 {
	color: rgba(134,113,97,1.00); 
}
h2 {
	font-weight: 700; 
	padding: 0.6em 1.2em; 
	color: rgba(51,51,51,1.00);
	background-color: rgba(134,113,97,0.15);
	font-size: 15px;
}
h3 {
	font-size: 16px;
	font-weight: 700;
	color: rgba(51,51,51,1.00);
	border-bottom: 1px solid #000;
	padding: 3.5em 0em 0em; 
}
h4{
	font-size: 18px;
}
h5{
	font-size: 16px;
	font-weight: 700;
	color: rgba(51,51,51,1.00);
}
p {
	font-style: normal;
	font-weight: 400;
	text-align: justify;
	font-size: 17px;
}
li{
	font-weight: normal;
	padding: 10px 0 0; 
	font-size: 17px;
}
img{
	width: 100%;
	margin: 0 auto;
}
.yousu{
	width: 75%;
}
article.narabi {
	width: 46%;
	float: left;
	padding-left: 2%;
	padding-right: 2%;
	text-align: justify;
	font-family: source-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 200;
	color: #2b2b2b;
}
#mainContent {
	/* Container for the blog post in individal blog view */
	padding-left: 2%;
	width: 71%;
	float: left;
	padding-right: 2%;
	padding-top: 41px;
}
#mainwrapper {
	/* Container of all content */
	width: 80%;
	overflow: auto;
	margin-left: 10%;
}
#footer {
	background-color: rgba(241,241,241,1.00);
	width: 80%; 
	padding: 10%;
}
.narabi {
	width: 71%;
	padding-left: 2%;
	padding-right: 2%;
}
#map {
	background-color: rgba(177,177,177,1.00); 
	text-align: center;
	color: rgba(244,244,244,1.00); 
	padding: 5em 0 ;
}
table {
	margin: auto;
}
td, th {
	padding: 8px 0px;
}
span {
	display: inline-block;
}
.kakomi {
	padding: 2px 8px; 
	background-color: rgba(214,174,142,1.00);
	border-radius: 30vh;
	color: #fff;
	font-size: 0.8em; 
	font-weight: 700;
	vertical-align: middle; 
}



/* Tablet view */
@media screen and (max-width: 834px) {
#mainContent {
	/* Container for the blog post */
	padding-top: 0px;
	float: none;
	width: 96%;
}
.narabi {
	width: 96%;
	padding-left: 2%;
	padding-right: 2%;
}
article.narabi #content {
	width: 46%;
}
#mainwrapper header {
	/* Header */
	width: 100%;
}

/*
#illust1{
	left: -5px; top: 0px; transform: rotate(10deg) 
}
#illust2{
	width: 125px;
	left: 15px; bottom: 300px; transform: rotate(25deg) 
}
#illust3{
	width: 150px;
	right: 5px; top: -5px; transform: rotate(5deg)
}
#illust4{
	width: 220px;
	right: 10px; bottom: 225px;
}
*/

}

/* Mobile view */
@media screen and (max-width: 600px) {
#topbanner {
	margin: 30% auto 0 ;
}
.illust{
	width: 45%;
}
#illust1{
	width: 50%;
	left: 0px; top: -55%; transform: rotate(10deg) 
}
#illust2{
	width: 40%; 
	left: 0px; bottom: -110px; transform: rotate(37deg) 
}
#illust3{
	width: 33%; 
	right: 0px; top: -55%; 
}
#illust4{
	width: 55%;
	right: -10%; bottom: -170px; 
}
#artday {
	width: 80%;
	text-align: center; 
	margin: 0 auto 100px; 
}

#mainwrapper {
	width: 92%;
	overflow: auto;
	margin-left: 4%;
}
#mainwrapper header #logo {
	width: 96%;
	margin-left: 2%;
}
#content article.narabi {
	width: 96%;
}
}
