@charset "UTF-8";

body {
	font-family: sans-serif; 
	font-size: 17px;
	background-color: #f1f5e6;
	background-color: #fff;
	background-image: url(images/illust_yama.png);
	background-position: top;
	background-size: contain;
	background-repeat: no-repeat;
	width: 86%;
	margin: 20% auto 0;
}
header {
	width: 70%;
	padding: 0 15%;
}
#topbanner {
	position: relative ; 
	margin: 30% auto 0 ;
	width: 66%;
}
#banner {
	padding: 10% 0
}

.illust{
	position: absolute; 
}
#illust1{
	width: 35%;
	left: -5px; top: -80px; transform: rotate(10deg) 
}

#illust2{
	width: 28%;
	left: -30%; bottom: -12%; transform: rotate(45deg) 
}

#illust3{
	width: 25%;
	right: 0px; top: -20%; transform: rotate(10deg)
}
#illust4{
width: 42%;
right: -51%;
bottom: 90%;
}
#illust5{
width: 35%;
left: -50%;
bottom: 0%;
}
#illust6{
	width: 43%;
	left: -56%; bottom: -5%;
}
#illust7{
width: 40%;
right: -52%;
bottom: -32%;
}


#artday {
	position: relative ; 
	width: 66%;
	font-size: 58px; 
	line-height: 1;
	font-weight: 900; 
	color: rgba(134,113,97,1.00); 
	text-align: center; 
	margin: -18% auto 0; 
}
.artday_banner{
	margin: 0 auto;
	width: 47%;
	vertical-align: middle; 
}
#nenn {
	position: relative;
	display: inline-block;
	color: #fff; 
	padding: 0 20px; 
	font-size: 0.55em;
	font-weight: ;
	line-height: 1.45; 
}
#nenn::before {
   content: "";
    display: inline-block;
    width: 106%;
    height: 130%;
    position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
    background-image: url(images/illust_hake.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
    background-position: 50% 50%;
	z-index: -1;
	transform: rotate(3deg);
}
.soro{
	vertical-align: middle; 
}
h1 {
	color: #837e5f;
}
h2 {
	font-weight: 700; 
	padding: 0.6em 1.2em; 
	background-color: #f5f5dc;
	font-size: 15px;
}
h3 {
	font-size: 16px;
	font-weight: 700;
	color: rgba(51,51,51,1.00);
	border-bottom: 1px solid #000;
	padding: 3.5em 0em 0em; 
}
h4{
	font-size: 18px;
}
h5{
	font-size: 15px;
	font-weight: 700;
	color: rgba(51,51,51,1.00);
}
p {
	font-style: normal;
	font-weight: 400;
	text-align: justify;
	font-size: 17px;
}
.day_stick {
  display: inline-block;
  padding: 1em 1em;
  text-decoration: none;
  background: #fff8dc;
  border-left: solid 5px #ff7c5c;/*左線*/
  color: #ff7c5c;/*文字色*/
  font-weight: bold;
  font-size: 0.8em;
	vertical-align: middle; 

}
.atten{
	font-size: 15px;
	line-height: 16px;
	color: orangered;
	border: solid 1px;
	padding: 5px;
}
li{
	padding: 0 0 10px; 
}
img{
	width: 100%;
	margin: 0 auto;
}
.yousu{
	text-align: center;
}
.yousu img{
	width: 46%;
}

details{
	width: 85%;
	margin: auto;
}
.syoukai img{
	width: 50%;
	padding: 10px 0;
}
.syoukai3{
	text-align: center;
}
.syoukai3 img{
	width: 32%;
}

#mainContent {
	/* Container for the blog post in individal blog view */
	padding-left: 2%;
	width: 71%;
	float: left;
	padding-right: 2%;
	padding-top: 41px;
}
#mainwrapper {
	/* Container of all content */
	width: 80%;
	overflow: auto;
	margin-left: 10%;
}
#footer {
	width: 80%; 
	padding: 6% 10%;
}
#map {
	background-color: rgba(177,177,177,1.00); 
	text-align: center;
	color: rgba(244,244,244,1.00); 
	padding: 5em 0 ;
}
table {
	margin: auto;
}
td, th {
	padding: 8px 0px;
}
span {
	display: inline-block;
}
.kakomi {
	padding: 2px 8px; 
	background-color: #82b3ff;
	border-radius: 10px;
	color: #fff;
	font-size: 0.8em; 
	font-weight: 700;
	vertical-align: middle; 
}
.syutten_sign {
	position: relative;
	text-decoration-line: underline overline;
	padding: 2px 8px; 
	color: #82b3ff;
	font-size: 0.8em; 
	font-weight: 700;
	vertical-align: middle; 
}
.syutten_sign::after{
	content:"";
}
a{
	position: relative;
	margin-right: 8px;
	text-underline-offset: 5px;
	font-size: 0.85em; 
}
a:link {
	color: #6495e1;
}
a:visited{
	color: #ac82ff;
}
a::after{
	content: "";
	width: 0.9em;
	height: 0.9em;
	background-image: url(images/icon_w.png);
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	top: 4px;
}
.cell1{
	width: 25%;
}
.cell2{
	width: 75%;
}
.thanks {
	position: relative;
	display: inline-block;
	color: #f5f7ed; 
	padding: 0 10px; 
	font-weight: 700;
	font-size: 0.9em;
	line-height: 1.45; 
}
.thanks::before {
   content: "";
    display: inline-block;
    width: 110%;
    height: 150%;
    position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
    background-image: url(images/illust_hake.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
    background-position: 50% 50%;
	z-index: -1;
	transform: rotate(3deg);
}

/* Tablet view */
@media screen and (max-width: 834px) {
body{
	width: auto;
	margin: auto;
}
#mainwrapper header {
	/* Header */
	width: 100%;
}
header {
	width: 98%;
	padding: 0;
}
.artday_banner{
	width: 75%;
}
#topbanner{
	width: 50%;
	padding: 0 10%;
	margin: 18% auto 0;
}
#artday{
	width: 50%;
	margin: -10% auto 0;
}
#illust2{
width: 37%;
left: -27%;
bottom: -28%;
transform: rotate(45deg);
}
#illust4{
width: 45%;
right: -38%;
bottom: 56%;
transform: rotate(7deg);
}
#illust5{
width: 28%;
left: -10%;
bottom: -54%;
}
#illust7{
width: 36%;
right: -13%;
bottom: -131%;
}
#mainwrapper{
	margin-top: 20%;
}
#mainContent {
	/* Container for the blog post */
	padding-top: 0px;
	float: none;
	width: 96%;
}

.yousu img {
	width: 82%;
}

.syoukai img{
	width: 86%;
	padding: 10px 7%;
}
.syoukai3{
	display: flex;
	width: 100%;
	overflow-x: scroll;
}
.syoukai3 img{
	width: 75%;
	padding: 3px;
}
.cell1{
	text-align: left;
	padding-left: 13px;
	display: block;
	width: 100%;
}
.cell2{
	display: block;
	width: 100%;
}
}

/* Mobile view */
@media screen and (max-width: 600px) {
#topbanner {
}
.illust{
	width: 45%;
}
#artday {
	margin: -13% auto 0;
}
#illust2{
	width: 45%;
	left: -26%; 
	bottom: -50%; 
	transform: rotate(37deg) 
}
#illust4{
width: 62%;
right: -41%;
bottom: 35%;
transform: rotate(60deg);
}
#illust4::before{
	
}
#illust4::after{
	
}
#illust5{
width: 32%;
left: -12%;
bottom: -70%;
}
#illust7{
	width: 45%;
	right: -14%;
	bottom: -175%;
}
#mainwrapper {
	width: 92%;
	overflow: auto;
	margin-left: 4%;
	margin-top: 30%;
}
#mainwrapper header #logo {
	width: 96%;
	margin-left: 2%;
}
.yousu img {
	width: 92%;
}
details{
	width: 100%;
}
}
